# Hobot Specific Dependencies
mujoco>=2.1.2
dm_control
numpy-quaternion
pyfcl@git+https://github.com/HorizonRoboticsInternal/python-fcl.git
scikit-image

# Tools
pydocstyle==4.0.0
pylint==2.3.1
yapf==0.28.0
pre-commit

## upgrade Alf Dependencies
# numpy 1.24 will report 'TypeError: No loop matching the specified signature and casting was found for ufunc greater'
numpy==1.21
pybind11==2.10.4
