# Alf dependencies
absl-py==2.2.2
atari_py==0.2.9
box2d-py==2.3.8
clang-format==17.0.6
cnest@git+https://github.com/HorizonRobotics/cnest.git
cpplint==2.0.1
fasteners==0.19
gin-config@git+https://github.com/HorizonRobotics/gin-config.git
gym==0.15.4
gym3==0.3.3
h5py==3.13.0
matplotlib==3.10.1
numpy==1.26.4
opencv-python==4.11.0.86
pathos==0.3.3
pillow>=8
pre-commit==4.2.0
protobuf==4.25.8
psutil==5.9.8
pybind11==2.13.6
pybullet==2.5.0
pylint==3.3.6
pyglet==1.3.2
rectangle-packer==2.0.4
tensorboard==2.17.0
threadpoolctl==3.6.0

# Hobot dependencies
click==8.1.8
dm_control==1.0.28
fastapi==0.115.12
ffmpeg==1.4
hydra-core==1.3.2
jinja2==3.1.6
loguru==0.7.3
mediapy==1.2.2
mujoco==3.3.0
numpy-quaternion==2024.0.8
open3d==0.19.0
pygame==2.6.1
python-fcl==0.7.0.8
PyOpenGL-accelerate==3.1.9
pyzmq==26.4.0
questionary==2.1.0
rich==14.0.0
scikit-image==0.25.2
selenium==4.31.0
uvicorn==0.34.0
webcolors==1.13
websocket-client==1.8.0
wget==3.2
xmltodict==0.14.2

# ManiSkill dependencies
coacd==1.0.7
dacite==1.9.2
gymnasium==0.29.1
transforms3d==0.4.2
trimesh==4.6.8
pytorch_kinematics==0.7.5
huggingface_hub==0.30.2
sapien>=3.0.0.b1

# VLM finetuning dependencies
transformers==4.51.3
pynvml==12.0.0
qwen_vl_utils==0.0.11
peft==0.15.2
requests==2.32.2
moviepy==1.0.3

# OpenVLA dependencies
accelerate==1.6.0
flash_attn==2.7.3
bitsandbytes==0.45.5
timm==0.9.10

# EmbodiedGen dependencies
gsplat==1.5.3
plyfile==1.1.2
shapely==2.1.1
colorlog==6.9.0
spaces==0.41.0
nvdiffrast@git+https://github.com/NVlabs/nvdiffrast.git
mplib==0.1.1

# OpenPi0 dependencies
tensorflow==2.17.0
omegaconf==2.3.0
