# Hobot Specific Dependencies
mujoco>=2.1.2
dm_control
numpy-quaternion

# Alf Dependencies
alf@git+https://github.com/HorizonRobotics/alf.git@hobot_01052023
atari_py==0.2.9
gym==0.19.0
pybullet==3.2.5
torch==1.12.1+cpu
torchvision==0.13.1+cpu
torchtext==0.13.1

# Tools
pydocstyle==4.0.0
pylint==2.3.1
yapf==0.28.0
pre-commit
